.Navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color:#f5f5dc;
  color: white;
  top: 0;
  z-index: 1000;
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);  
}

.title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
}
.container {
  display: flex;  
  align-items: center;  
  gap: 8px;  
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color:black;
}

.logo{
  width:100px; 
  height:100px;   
  object-fit: contain;
  border-radius: 50%;
}

.menuItems {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItems a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
}

.menuItems a:hover {
  text-decoration: underline;
  color: #00bcd4
}

 
.signUpButton {
  background-color:#f5f5dc; /* Button color */
  color:black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-style:ridge;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.signUpButton:hover {
  background-color:white; 
}


@media screen  and (max-width :830px ){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .menu{
    position: absolute;
    right:0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap:11px;
    z-index:3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

}

 

 
 
 
 