.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.item {
  padding: 50px;
  /* background-color: #d8cfc4; */
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-style:normal;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  align-items: center;
  justify-content:center;
  place-items: center;
  text-align: center;
  display: grid;
}

.loginButton {
  background-color:#f5f5b8 ;
  color:black;
  border:0cap;
  font-size: 25px;
  cursor: pointer;
  border-style:ridge;
  border-radius: 4px;
   padding: 10px  18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.loginButton:hover {
  background-color:#708238; 
}

.image{
  width:600px;
  height:400px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
